* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: #777;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  line-height: 1.8;
}
/* begin: header */
.header {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-link {
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1.6rem;
}
.header-link:hover {
  background-color: #ccc;
  color: #000;
}
.header-icon {
  color: #777;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}
.header-icon:hover {
  background-color: #000;
  color: #fff;
}
.navbar,
.search {
  display: none;
}
/* end */
/* begin: logo */
.logo {
  background-image: url(https://www.w3schools.com/w3images/parallax1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.7;
  position: relative;
}
.logo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-text {
  color: #fff;
  background-color: #000;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  letter-spacing: 0.8rem;
  white-space: nowrap;
}
.logo-web {
  display: none;
}
/* end */
/* begin: about_section */
.about-section {
  max-width: 98rem;
  padding: 6.4rem 1.6rem;
  margin: 0 auto;
}
.about-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}
.about-text {
  font-style: italic;
  margin: 1.5rem 0;
  text-align: center;
}
.about-desc {
  margin: 1.5rem 0;
}

.about-info {
  padding: 1.2rem 2.4rem;
}
.info-text {
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0;
}
.info-text i {
  margin-right: 1.5rem;
}
.info-img {
  width: 100%;
  opacity: 0.6;
}
.about-content {
  display: none;
}
.about-story {
}
.story-text {
  margin: 3.5rem 0;
  text-align: center;
  font-size: 1.8rem;
}
.progress-container {
  margin-top: 1.5rem;
}
.label {
  letter-spacing: 0.8rem;
  margin-bottom: 1.5rem;
}
.progress-bar {
  width: 100%;
  background-color: #f1f1f1;
}
.progress-percent {
  background-color: #616161;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0.8rem;
}
.photography {
  width: 90%;
}
.web-design {
  width: 85%;
}
.photoshop {
  width: 75%;
}
/* end */
/* begin: review */
.review-group {
  background-color: #616161;
  color: #fff;
  text-align: center;
  padding: 1.6rem 0;
}
.review-item {
  margin: 1.5rem 0;
}
.review-number {
  display: block;
  font-size: 2.4rem;
}
/* end */
/* begin: Portfolio */
.portfolio-container {
  background-image: url(https://www.w3schools.com/w3images/parallax2.jpg);
  min-height: 40rem;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: relative;
}
.portfolio-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-title{
  font-size: 3.6rem;
  color: #fff;
  letter-spacing: 0.8rem;
  font-weight: 500;
}
/* end */

@media screen and (min-width: 601px) {
  /* begin: header */

  .navbar,
  .search {
    display: block;
  }
  .nav-list {
    display: flex;
  }
  .nav-item {
    list-style: none;
    padding: 0.8rem 1.6rem;
  }
  .nav-item:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  .nav-link {
    color: #000;
    text-decoration: none;
  }
  .search {
    padding: 0.8rem 1.6rem;
  }
  .search:hover {
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
  }
  .header-link,
  .header-icon {
    display: none;
  }
  /* end */
  /* begin: logo */
  .logo-web {
    display: inline-block;
  }
  /* end */
  /* begin: about_section */
  .about-group {
    display: flex;
  }
  .about-info {
    width: 50%;
  }

  .about-content {
    display: block;
    width: 50%;
    padding: 1.2rem 2.4rem;
  }
  .about-content p {
    margin: 1.5rem 0;
  }
  /* end */
  /* begin: review */
  .review-group {
    display: flex;
  }
  .review-item {
    flex-basis: 25%;
  }
  /* end */
}
